header {
  z-index: 50;
  position: fixed;
  padding: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  width: 100vw;
  background-color: #2c3145;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
header #logo,
header #logo2 {
  font-family: "Cinzel", serif;
}
header #logo-justice {
  height: 12vh;
  width: auto;
}
header nav {
  padding: 0;
  display: flex;
  margin-right: 40px;
}
header nav .dropbtn {
  justify-self: end;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 4px 4px 4px;
  z-index: 51;
}
header nav .dropdown-content a {
  display: block;
  color: #2c3145 !important;
  padding: 3px;
}
header nav .dropdown-content a:hover {
  color: #7a85b7 !important;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #2c3145 !important;
  border-radius: 4px 4px 0 0;
}
header nav a {
  margin-right: 20px;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
header nav a:visited {
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  color: #7a85b7;
  text-decoration: none;
}

footer {
  background-color: #b94564;
  padding: 20px;
  color: white;
}
footer hr {
  color: white;
}
footer img {
  height: 3vh;
  width: auto;
}
footer #foot-cols {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  footer #foot-cols {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  footer #foot-cols iframe {
    display: none;
  }
}
footer #foot-cols section {
  padding: 10px;
}
footer #foot-cols section div {
  display: flex;
  padding: 5px;
}
footer #foot-cols section div p,
footer #foot-cols section div img {
  padding: 3px;
}
footer #foot-cols section div th {
  text-align: right;
}
footer #underFooter {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  footer #underFooter {
    flex-direction: column;
  }
}
footer #underFooter a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
footer #underFooter a,
footer #underFooter p {
  padding: 5px;
  font-size: 0.81rem;
}
footer #underFooter a:hover {
  color: #ccc;
}
footer #underFooter #copyright {
  color: #ccc;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: #2c3145;
}

img {
  height: 100vh;
  width: auto;
}

main {
  background-image: url("../images/conBack1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
main #content-container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 80vw;
  min-height: 70vh;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 20px;
}
main #content-container h1 {
  font-size: 2.1rem;
  text-align: center;
}
main #content-container #contact-info {
  text-align: center;
  margin-right: 10vw;
  margin-left: 10vw;
}
main #content-container img {
  height: 2vh;
  width: auto;
}
main #content-container #main-content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  padding: 30px;
}
main #content-container #main-content div {
  display: flex;
  padding: 5px;
}
main #content-container #main-content div p,
main #content-container #main-content div img {
  padding: 3px;
}
main #content-container #main-content div th {
  text-align: right;
}
main #content-container #contact-sec #main-form {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 40px 10px 40px 10px 40px 10px 150px 10px 40px auto;
}
main #content-container #contact-sec #main-form input {
  width: 30vw;
}
main #content-container #contact-sec #main-form #form-name {
  grid-column-start: 1;
  grid-row-start: 1;
}
main #content-container #contact-sec #main-form #name-input {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
main #content-container #contact-sec #main-form #form-email {
  grid-column-start: 1;
  grid-row-start: 3;
}
main #content-container #contact-sec #main-form #email-input {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
main #content-container #contact-sec #main-form #form-service {
  grid-column-start: 1;
  grid-row-start: 5;
}
main #content-container #contact-sec #main-form #service-input {
  grid-column-start: 2;
  grid-row-start: 5;
  justify-self: start;
  align-self: center;
}
main #content-container #contact-sec #main-form #form-message {
  grid-column-start: 1;
  grid-row-start: 7;
}
main #content-container #contact-sec #main-form #message-input {
  grid-column-start: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}
main #content-container #contact-sec #main-form #submit-form {
  grid-column-start: 2;
  grid-row-start: 9;
  padding: 10px;
  justify-self: stretch;
  background-color: #2c3145;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}
main #content-container #contact-sec #main-form #submit-form:hover {
  box-shadow: 0px 0px 10px black;
}
main #content-container #contact-sec #main-form input,
main #content-container #contact-sec #main-form textarea {
  border: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 4px;
  padding: 5px;
}
main #content-container #contact-sec #main-form .thankyou_message {
  grid-row-start: 10;
  grid-column-start: 2;
  font-size: 0.81rem;
}

/*# sourceMappingURL=contact.css.map */
