header {
  z-index: 50;
  position: fixed;
  padding: 30px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #2c3145;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
header #logo,
header #logo2 {
  font-size: 1.25rem;
  font-family: "Cinzel", serif;
}
header #logo2 {
  font-size: 1.5rem;
}
header nav {
  padding: 0;
  display: flex;
}
header nav .dropbtn {
  justify-self: end;
}
header nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0 4px 4px 4px;
  z-index: 51;
}
header nav .dropdown-content a {
  display: block;
  color: #2c3145 !important;
  padding: 3px;
}
header nav .dropdown-content a:hover {
  color: #7a85b7 !important;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #2c3145 !important;
  border-radius: 4px 4px 0 0;
}
header nav a {
  margin-right: 20px;
  padding-left: 3px;
  padding-right: 3px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
header nav a:visited {
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  color: #7a85b7;
  text-decoration: none;
}
header #phoneButton {
  display: flex;
  align-items: center;
  position: relative;
  right: 5vw;
}
header #phoneButton a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
header #phoneButton a:hover {
  color: #7a85b7;
}
header #phoneIcon {
  height: 3vh !important;
  width: auto;
  padding-top: 18px;
  padding-right: 3px;
}

footer {
  background-color: #b94564;
  padding: 20px;
  color: white;
}
footer hr {
  color: white;
}
footer img {
  height: 3vh;
  width: auto;
}
footer #foot-cols {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  footer #foot-cols {
    flex-direction: column;
  }
}
footer #foot-cols section {
  padding: 10px;
}
footer #foot-cols section div {
  display: flex;
  padding: 5px;
}
footer #foot-cols section div p,
footer #foot-cols section div img {
  padding: 3px;
}
footer #foot-cols section div th {
  text-align: right;
}
footer #underFooter {
  display: flex;
  justify-content: space-between;
}
footer #underFooter a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
footer #underFooter a,
footer #underFooter p {
  padding: 5px;
  font-size: 0.81rem;
}
footer #underFooter a:hover {
  color: #ccc;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: #2c3145;
}

img {
  height: 100vh;
  width: auto;
}

main #landingSec {
  height: 90vh;
}
main #landingSec #backImg1 {
  position: absolute;
  width: 100vw;
  height: 90vh;
  background: linear-gradient(241.24deg, #cedcf4 0%, #52596e 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -5;
}
main #landingSec #backImg1 #julieImg {
  height: 80vh !important;
  padding-top: 10vh;
  position: relative;
  left: 100px;
  animation: fadeIn 1s forwards 0s ease-in;
}
main #mainText {
  color: #b94564;
  display: grid;
  grid-template-columns: 250px 50px 300px 200px auto;
  grid-template-rows: 350px 10px 25px 10px 40px 75px auto;
  justify-items: stretch;
}
main #mainText #mainText1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: 100;
}
main #mainText #mainText2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 40px;
}
main #mainText #landBtns {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #mainText #landBtns a {
  font-weight: bold;
  background-color: #b94564;
  border-radius: 4px;
  color: white;
  padding: 10px;
  border: 3px solid #b94564;
  text-decoration: none;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #mainText #landBtns a:hover {
  box-shadow: 0px 3px 10px black;
}
main #mainText #landBtns #ctabtn2 {
  background-color: white;
  color: #b94564;
}
main #infoSec {
  background-image: url("../images/back2 copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  display: flex;
  justify-content: center;
}
main #infoSec #infoIntern {
  width: 70vh;
  display: grid;
  grid-template-rows: 150px 75px 150px 75px 75px auto;
}
main #infoSec #infoIntern #title2 {
  grid-row-start: 2;
  font-size: 2.1rem;
  text-align: center;
}
main #infoSec #infoIntern #infoP1 {
  grid-row-start: 3;
  font-size: 1.25rem;
}
main #infoSec #infoIntern #specTag {
  grid-row-start: 4;
  font-size: 28px;
  text-align: center;
}
main #infoSec #infoIntern #infoBtns {
  animation: fadeIn 1s forwards 0.4s ease-in;
  animation: buttonFly 1s forwards 0.4s ease-in;
  grid-row-start: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #infoSec #infoIntern #infoBtns a {
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: #b94564;
  border-radius: 4px;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #infoSec #infoIntern #infoBtns a:hover {
  box-shadow: 0px 3px 10px black;
}
main #infoSec #infoIntern #infoBtns .othBtns {
  padding: 20px;
}
main #divChildSec {
  background-image: url("../images/back3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
main #divChildSec #white-back-1 {
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 50vw;
}
main #divChildSec #white-grad-1 {
  background: linear-gradient(270deg, #ffffff 0%, rgba(196, 196, 196, 0) 100%);
  width: 50vw;
  height: 100vh;
  position: relative;
  bottom: 100vh;
}
main #divChildSec #div-Child-info {
  display: grid;
  grid-template-columns: 60vw 300px auto;
  grid-template-rows: 200px 100px 200px;
  position: relative;
  bottom: 200vh;
}
main #divChildSec #div-Child-info #title3 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
  font-size: 2.1rem;
}
main #divChildSec #div-Child-info #info3 {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 1.25rem;
}
main #divChildSec #div-Child-info #div-btn-sec {
  grid-column-start: 2;
  grid-row-start: 4;
}
main #divChildSec #div-Child-info #div-btn-sec #divChiBtn {
  color: white;
  background-color: #b94564;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #divChildSec #div-Child-info #div-btn-sec #divChiBtn:hover {
  box-shadow: 0px 3px 10px black;
}
main #mediationSec {
  background-image: url("../images/back4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
main #mediationSec #white-grad-2 {
  background: linear-gradient(270deg, rgba(196, 196, 196, 0) 0%, #fff 100%);
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 50vw;
  bottom: 100vh;
}
main #mediationSec #white-back-2 {
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: relative;
}
main #mediationSec #mediat-info {
  display: grid;
  grid-template-columns: 10vw 300px auto;
  grid-template-rows: 200px 100px 200px;
  position: relative;
  bottom: 200vh;
}
main #mediationSec #mediat-info #title4 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
  font-size: 2.1rem;
}
main #mediationSec #mediat-info #info4 {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 1.25rem;
}
main #mediationSec #mediat-info #med-btn-sec {
  grid-column-start: 2;
  grid-row-start: 4;
}
main #mediationSec #mediat-info #med-btn-sec #mediaBtn {
  color: white;
  background-color: #b94564;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #mediationSec #mediat-info #med-btn-sec #mediaBtn:hover {
  box-shadow: 0px 3px 10px black;
}
main #adoptionSec {
  background-image: url("../images/back5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
main #adoptionSec #white-back-3 {
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: relative;
  left: 50vw;
}
main #adoptionSec #white-grad-3 {
  background: linear-gradient(270deg, #ffffff 0%, rgba(196, 196, 196, 0) 100%);
  width: 50vw;
  height: 100vh;
  position: relative;
  bottom: 100vh;
}
main #adoptionSec #adop-info {
  display: grid;
  grid-template-columns: 60vw 300px auto;
  grid-template-rows: 200px 100px 200px;
  position: relative;
  bottom: 200vh;
}
main #adoptionSec #adop-info #title5 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
  font-size: 2.1rem;
}
main #adoptionSec #adop-info #info5 {
  grid-column-start: 2;
  grid-row-start: 3;
  font-size: 1.25rem;
}
main #adoptionSec #adop-info #ado-btn-sec {
  grid-column-start: 2;
  grid-row-start: 4;
}
main #adoptionSec #adop-info #ado-btn-sec #adopBtn {
  color: white;
  background-color: #b94564;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #adoptionSec #adop-info #ado-btn-sec #adopBtn:hover {
  box-shadow: 0px 3px 10px black;
}
main #testSec {
  height: 80vh;
  background-color: #2c3145;
  color: white;
}
main #testSec #test-Object {
  background-color: white;
  color: #2c3145;
  border-radius: 7px;
}
main #contSec {
  padding: 10px;
  display: flex;
  justify-content: center;
}
main #contSec #container-1 {
  width: 60vh;
}
main #contSec #container-1 #title7 {
  font-size: 2.1rem;
  text-align: center;
  padding: 10px;
}
main #contSec #container-1 #main-form {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 40px 10px 40px 10px 40px 10px 150px 10px;
}
main #contSec #container-1 #main-form #form-name {
  grid-column-start: 1;
  grid-row-start: 1;
}
main #contSec #container-1 #main-form #name-input {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
main #contSec #container-1 #main-form #form-email {
  grid-column-start: 1;
  grid-row-start: 3;
}
main #contSec #container-1 #main-form #email-input {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
main #contSec #container-1 #main-form #form-service {
  grid-column-start: 1;
  grid-row-start: 5;
}
main #contSec #container-1 #main-form #service-input {
  grid-column-start: 2;
  grid-row-start: 5;
  justify-self: start;
  align-self: center;
}
main #contSec #container-1 #main-form #form-message {
  grid-column-start: 1;
  grid-row-start: 7;
}
main #contSec #container-1 #main-form #message-input {
  grid-column-start: 2;
  grid-row-start: 7;
  grid-row-end: 8;
}
main #contSec #container-1 #main-form #submit-form {
  grid-column-start: 2;
  grid-row-start: 9;
  padding: 10px;
  justify-self: end;
  background-color: #2c3145;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  -webkit-transition: box-shadow 0.3s ease-in;
  -moz-transition: box-shadow 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-in;
  transition: box-shadow 0.3s ease-in;
}
main #contSec #container-1 #main-form #submit-form:hover {
  box-shadow: 0px 0px 10px black;
}
main #contSec #container-1 #main-form input,
main #contSec #container-1 #main-form textarea {
  border: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 4px;
  padding: 5px;
}
main #contSec #container-1 #main-form .thankyou_message {
  grid-row-start: 9;
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.81rem;
}

/*# sourceMappingURL=index.css.map */
