@import "header";
@import "footer";
@mixin background-image($source) {
  background-image: url($source);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
$size-1: 0.81rem;
$size-2: 1.25rem;
$size-3: 1.5rem;
$size-4: 1.9rem;
$size-5: 2.1rem;
$blue-1: #2c3145;
$blue-2: #7a85b7;
$red-1: #b94564;
@mixin apply-transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -o-transition: $props;
  transition: $props;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: $blue-1;
}

img {
  height: 100vh;
  width: auto;
}

main {
  @include background-image("../images/conBack1.jpg");
  height: 100vh;
  display: flex;
  justify-content: center;
  #content-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80vw;
    height: 70vh;
    padding: 20px;
    margin-top: 150px;
    h1 {
      font-size: $size-5;
      text-align: center;
    }
    img {
      height: 2vh;
      width: auto;
    }
    #main-content {
      display: flex;
      justify-content: space-around;
      padding: 30px;
      div {
        display: flex;
        padding: 5px;
        p,
        img {
          padding: 3px;
        }
        th {
          text-align: right;
        }
      }
      #infoSec {
        font-size: $size-2;
      }
    }
    #contact-sec {
      #main-form {
        input {
          width: 30vw;
        }
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-rows: 40px 10px 40px 10px 40px 10px 150px 10px 40px auto;
        #form-name {
          grid-column-start: 1;
          grid-row-start: 1;
        }
        #name-input {
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }
        #form-email {
          grid-column-start: 1;
          grid-row-start: 3;
        }
        #email-input {
          grid-column-start: 2;
          grid-row-start: 3;
          grid-row-end: 4;
        }
        #form-service {
          grid-column-start: 1;
          grid-row-start: 5;
        }
        #service-input {
          grid-column-start: 2;
          grid-row-start: 5;
          justify-self: start;
          align-self: center;
        }
        #form-message {
          grid-column-start: 1;
          grid-row-start: 7;
        }
        #message-input {
          grid-column-start: 2;
          grid-row-start: 7;
          grid-row-end: 8;
        }
        #submit-form {
          grid-column-start: 2;
          grid-row-start: 9;
          padding: 10px;
          justify-self: stretch;
          background-color: $blue-1;
          color: white;
          font-weight: bold;
          font-size: $size-2;
          @include apply-transition(box-shadow 0.3s ease-in);
        }
        #submit-form:hover {
          box-shadow: 0px 0px 10px black;
        }
        input,
        textarea {
          border: none;
          box-shadow: 0px 0px 5px black;
          border-radius: 4px;
          padding: 5px;
        }
        .thankyou_message {
          grid-row-start: 10;
          grid-column-start: 2;
          font-size: $size-1;
        }
      }
    }
  }
}
