@import "header";
@import "footer";
@mixin background-image($source) {
  background-image: url($source);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
$size-1: 0.81rem;
$size-2: 1.25rem;
$size-3: 1.5rem;
$size-4: 1.9rem;
$size-5: 2.1rem;
@mixin apply-transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -o-transition: $props;
  transition: $props;
}
$blue-1: #2c3145;
$blue-2: #7a85b7;
$red-1: #b94564;

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: $blue-1;
}

img {
  height: 100vh;
  width: auto;
}
header {
  margin-top: -10vh;
  position: sticky;
  top: 0;
  font-family: "Raleway", sans-serif;
}

main {
  #landingSec {
    min-height: 60vh;
    margin-top: 10vh;
    
    #content-container {
      background: linear-gradient(241.24deg, #52596e 0%, #cedcf4 100%);
      z-index: -5;
      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-wrap: wrap;
      #julieImg {
        max-height: 60vh !important;
        animation: fadeIn 1s forwards 0s ease-in;
        max-width: 100vw;
      }
      #mainText {
        color: $red-1;
        padding-top: 20vh !important;
        padding: 5vh;
        #mainText1 {
          font-weight: 100;
        }
        #mainText2 {
          font-size: 2rem;
          padding-bottom: 10px;
        }
        #landBtns {
          align-items: center;
          padding-top: 10px;
          a {
            font-weight: bold;
            background-color: #b94564;
            border-radius: 4px;
            color: white;
            padding: 10px;
            border: 3px solid $red-1;
            text-decoration: none;
            @include apply-transition(box-shadow 0.3s ease-in);
          }
          a:hover {
            box-shadow: 0px 3px 10px black;
          }
          #ctabtn2 {
            background-color: white;
            color: $red-1;
          }
      	#ctabtn {
       	     background-color: $red-1;
       	     color: white;
          }
        }
      }
    }
  }
 
  #infoSec {
    @include background-image("../images/back2 copy.jpg");
    min-height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    #infoIntern {
      max-width: 70vh;
      margin-top: 10vh;
      padding: 15px;
      #title2 {
        grid-row-start: 2;
        text-align: center;
      }
      #infoP1 {
      	text-align: center;
	padding-top: 20px;
      }
      #specTag {
        text-align: center;
	margin-top: 5vh;
      }
      #infoBtns {
        animation: fadeIn 1s forwards 0.4s ease-in;
        animation: buttonFly 1s forwards 0.4s ease-in;
        display: flex;
	flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
	margin-top: 20px;
        a {
          color: white;
          text-decoration: none;
          padding: 10px;
          background-color: $red-1;
          border-radius: 4px;
          @include apply-transition(box-shadow 0.3s ease-in);
       	  margin: 10px; 
  	}
        a:hover {
          box-shadow: 0px 3px 10px black;
        }
        .othBtns {
          padding: 20px;
        }
      }
    }
  }

  #divChildSec {
    @include background-image("../images/back3.jpg");
    height: 80vh;
    #white-grad-1 {
      background: linear-gradient(
        270deg,
        #ffffff 20%,
        rgba(256, 256, 256, 0.6) 100%
      );
      width: 100vw;
      height: 80vh;
      position: relative;
    }
    #div-Child-info {
      display: grid;
      grid-template-columns: 60vw 300px auto;
      @media (max-width: 800px) {
	      grid-template-columns: 10vw 300px auto;
      }
      grid-template-rows: auto auto auto;
      position: relative;
      bottom: 60vh;
      #title3 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-end: 4;
        font-size: $size-5;
      }
      #info3 {
        grid-column-start: 2;
        grid-row-start: 3;
        font-size: $size-2;
	padding: 20px;
	padding-left: 0 !important;
      }

      #div-btn-sec {
        grid-column-start: 2;
        grid-row-start: 4;

        #divChiBtn {
          color: white;
          background-color: $red-1;
          font-weight: bold;
          padding: 10px;
          border-radius: 4px;
          text-decoration: none;
          @include apply-transition(box-shadow 0.3s ease-in);
        }
        #divChiBtn:hover {
          box-shadow: 0px 3px 10px black;
        }
      }
    }
  }

  #mediationSec {
    @include background-image("../images/back4.jpg");
    height: 80vh;
    #white-grad-2 {
      background: linear-gradient(270deg, rgba(255,255, 255, 0.6) 0%, rgb(255, 255, 255) 70%);
      width: 100vw;
      height: 80vh;
      position: relative;
    }
    #mediat-info {
      display: grid;
      grid-template-columns: 10vw 300px auto;
      grid-template-rows: 200px 100px 200px;
      position: relative;
      bottom: 80vh;
      @media (max-width: 800px) {
	      grid-template-columns: 10vw 300px auto;
      };
      #title4 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-end: 4;
        font-size: $size-5;
      }
      #info4 {
        grid-column-start: 2;
        grid-row-start: 3;
        font-size: $size-2;
      }

      #med-btn-sec {
        grid-column-start: 2;
        grid-row-start: 4;

        #mediaBtn {
          color: white;
          background-color: $red-1;
          font-weight: bold;
          padding: 10px;
          border-radius: 4px;
          text-decoration: none;
          @include apply-transition(box-shadow 0.3s ease-in);
        }
        #mediaBtn:hover {
          box-shadow: 0px 3px 10px black;
        }
      }
    }
  }

  #adoptionSec {
    @include background-image("../images/back5.jpg");
    height: 80vh;
    #white-grad-3 {
      background: linear-gradient(
        270deg,
        #ffffff 30%,
        rgba(256, 256, 256, 0.6) 100%
      );
      width: 100vw;
      height: 80vh;
      position: relative;
    }
    #adop-info {
      display: grid;
      grid-template-columns: 60vw 300px auto;
      grid-template-rows: 200px 100px 200px;
      position: relative;
      bottom: 80vh;
      @media (max-width: 800px) {
	      grid-template-columns: 10vw 300px auto;
      };
      #title5 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-end: 4;
        font-size: $size-5;
      }
      #info5 {
        grid-column-start: 2;
        grid-row-start: 3;
        font-size: $size-2;
      }

      #ado-btn-sec {
        grid-column-start: 2;
        grid-row-start: 4;

        #adopBtn {
          color: white;
          background-color: $red-1;
          font-weight: bold;
          padding: 10px;
          border-radius: 4px;
          text-decoration: none;
          @include apply-transition(box-shadow 0.3s ease-in);
        }
        #adopBtn:hover {
          box-shadow: 0px 3px 10px black;
        }
      }
    }
  }

  #testSec {
    padding: 2em;
    background-color: $blue-1;
    color: white;
    #test-Object {
      background-color: white;
      color: $blue-1;
      border-radius: 7px;
    }
  }

  #contSec {
    padding: 10px;
    display: flex;
    justify-content: center;
    #container-1 {
      width: 60vh;
      #title7 {
        font-size: $size-5;
        text-align: center;
        padding: 10px;
      }
      #main-form {
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-rows: 40px 10px 40px 10px 40px 10px 150px 10px;
	padding-top: 10px;
        #form-name {
          grid-column-start: 1;
          grid-row-start: 1;
        }
        #name-input {
          grid-column-start: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }
        #form-email {
          grid-column-start: 1;
          grid-row-start: 3;
        }
        #email-input {
          grid-column-start: 2;
          grid-row-start: 3;
          grid-row-end: 4;
        }
        #form-service {
          grid-column-start: 1;
          grid-row-start: 5;
        }
        #service-input {
          grid-column-start: 2;
          grid-row-start: 5;
          justify-self: start;
          align-self: center;
        }
        #form-message {
          grid-column-start: 1;
          grid-row-start: 7;
        }
        #message-input {
          grid-column-start: 2;
          grid-row-start: 7;
          grid-row-end: 8;
        }
        #submit-form {
          grid-column-start: 2;
          grid-row-start: 9;
          padding: 10px;
          justify-self: end;
          background-color: $blue-1;
          color: white;
          font-weight: bold;
          font-size: $size-2;
          @include apply-transition(box-shadow 0.3s ease-in);
        }
        #submit-form:hover {
          box-shadow: 0px 0px 10px black;
        }
        input,
        textarea {
          border: none;
          box-shadow: 0px 0px 5px black;
          border-radius: 4px;
          padding: 5px;
        }
        .thankyou_message {
          grid-row-start: 9;
          grid-column-start: 1;
          grid-column-end: 3;
          font-size: $size-1;
        }
	#disclaimer
	{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 9;
	}	
      }
    }
  }
}

p.disclaimer {
  grid-row-start: 10;
  grid-column-end: 3;
  grid-column-start: 1;
  padding-top: 2em;
}

.testimonial-tile {
  background-color: white;
  width: 17em;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.5);
  color: #2c3145;
}

.testimonial-text {
  color: #2c3145;
  font-weight: bold;
  font-size: 1.5em;
}
#testimonials {
  display: flex;
  padding: 2em 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
#title6 {
  font-size: 2em;
}

.testimonial-name {
  padding-top: 1em;
  text-align: right;
}
.testimonial-place {
  text-align: right;
  font-size: 0.9em;
}