@mixin apply-transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -o-transition: $props;
  transition: $props;
}
$size-1: 0.81rem;
$size-2: 1.25rem;
$size-3: 1.5rem;
$size-4: 1.9rem;
$size-5: 2.1rem;

footer {
  hr {
    color: white;
  }
  background-color: #52596e;
  padding: 20px;
  color: white;
  img {
    height: 3vh;
    width: auto;
  }
  #foot-cols {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      iframe {
        display: none;
      }
    }
    section {
      padding: 10px;
      div {
        display: flex;
        padding: 5px;
        p,
        img {
          padding: 3px;
        }
        th {
          text-align: right;
        }
      }
    }
  }
  #underFooter {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
    a {
      text-decoration: none;
      color: white;
      @include apply-transition(color 0.3s ease-in);
    }
    a,
    p {
      padding: 5px;
      font-size: $size-1;
    }
    a:hover {
      color: #ccc;
    }
    #copyright {
      color: #ccc;
    }
  }
}
