@import "header";
@import "footer";
@mixin background-image($source) {
  background-image: url($source);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
$size-1: 0.81rem;
$size-2: 1.25rem;
$size-3: 1.5rem;
$size-4: 1.9rem;
$size-5: 2.1rem;
@mixin apply-transition($props) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -o-transition: $props;
  transition: $props;
}
$blue-1: #2c3145;
$blue-2: #7a85b7;
$red-1: #b94564;

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  color: $blue-1;
}

img {
  height: 100vh;
  width: auto;
}

header {
  #phoneIcon {
    height: 2vh !important;
  }
}

main {
  h2 
  {
    padding-top: 20px;
  }
  padding-top:150px;
  min-height: 100vh;
  width: auto;
  padding-bottom: 50px;
  #image-title
  {
    @include background-image("../images/back4 copy2.jpg");
    padding: 50px;
    height: 200px;
    margin-top: -10px;
  }
  h1 
  {
    font-size: $size-5;
  }
  #info {
    padding: 50px;
    p {
      font-size: $size-2;
    }
  }
  #cta {
    text-align: center;
    padding-top: 50px;
    h2 {
      font-size: $size-4;
      padding-bottom: 50px;
    }
    a {
      font-weight: bold;
      background-color: $blue-1;
      border-radius: 4px;
      color: white;
      padding: 10px;
      border: 3px solid $blue-1;
      text-decoration: none;
      @include apply-transition(background-color 0.3s ease-in);
    }
    a:hover {
      background-color: transparent;
    }
  }
}